<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- MIDI -->
    <uses-feature android:name="android.software.midi" android:required="false" />

    <!-- USB MIDI -->
    <uses-feature android:name="android.hardware.usb.host" android:required="false" />

    <!-- Bluetooth permissions -->
    <!-- Android < 12 -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <!-- Android 12+ (API 31+) -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

</manifest>
